<footer class="footer">
	<div class="background-color-grey">
		<div class="container-main">
		  <div class="row">
			<div class="col-sm-12 col-md-12">
			  <div class="logo-footer text-center">
				<a href="/"><i class="icon-logo-ac-branco"></i></a>
			  </div>
			</div>
			<div class="col-sm-12 col-md-12">
			  <p class="text-center">Apoiadores e certificações:</p>
			  <div class="supporter">
				<ul>
				  <li>
					<a href="https://endeavor.org.br" target="_blank">
					  <img class="img" width="84.98" height="66.28" src="img/acordo-certo-scale.svg">
					</a>
				  </li>
				  <li>
					<a href="https://www.quintessa.org.br" target="_blank">
					  <img class="img" width="84.98" height="66.28" src="img/acordo-certo-quintessa.svg">
					</a>
				  </li>
				</ul>
			  </div>
			</div>
			<div class="col-sm-12 col-md-12">
			  <div class="footer-flex">
				<div class="menu-links">
				  <div>
					<ul>
					  <li><a href="#home">Home</a></li>
					  <li><a href="#how-to">Como funciona</a></li>
					  <li><a href="https://www.acordocerto.com.br/faq">Dúvidas</a></li>
					  <li><a href="https://emprestimo.acordocerto.com.br/">Empréstimo</a></li>
					</ul>
				  </div>
				  <div>
					<ul>
					  <li><a href="https://blog.acordocerto.com.br">Blog</a></li>
					  <li><a href="#">Termos de Uso</a></li>
					  <li><a href="#">Política de Privacidade</a></li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-sm-12 col-md-12">
			  <div class="max-width-banner-acordo-do-bem">
				<div class="banner-acordo-do-bem">
				  <p class="banner-aordo-do-bem-title">Ajude quem mais precisa na pandemia.</p>
				  <div class="banner-acordo-do-bem-box">
					<div class="banner-acordo-do-bem-box-item">
					  <a 
						class="btn-banner-acordo-do-bem" 
						href="https://acordodobem.acordocerto.com.br/" 
						target="_blank" 
						rel="noopener noreferrer">Faça uma doação</a>
					</div>
					<div class="banner-acordo-do-bem-box-item">
					  <img src="img/logo-acordo-do-bem.svg" />
					</div>
				  </div>
				  <img class="bg-opac" src="img/acordo-do-bem.svg" alt="Acordo do Bem" title="Acordo do Bem" />
				</div>
			  </div>
			</div>
			<div class="col-sm-12 col-md-12">
			  <div class="social-footer">
				<div>
					<ul class="box-container type-center-horizontal">
					  <li>
						<a href="https://www.facebook.com/oficialacordocerto" target="_blank"><i class="icon-facebook-cinza"></i></a>
					  </li>
					  <li>
						<a href="https://www.youtube.com/channel/UCCMYRKpWD4aC_t3UUz3uaPQ" target="_blank"><i class="icon-youtube-cinza"></i></a>
					  </li>
					  <li>
						<a href="https://www.instagram.com/acordocerto/" target="_blank"><i class="icon-instagram-cinza"></i></a>
					  </li>
					  <li>
						<a href="https://www.twitter.com/acordo_certo" target="_blank"><i class="icon-twitter-cinza"></i></a>
					  </li>
					  <li>
						<a href="https://www.linkedin.com/company/acordo-certo" target="_blank"><i class="icon-linkedin-cinza"></i></a>
					  </li>
					</ul>
				</div>
			  </div>
			</div>
			<div class="col-sm-12 col-md-12">
			  <div class="info-footer text-center">
				<span>Rua Cardeal Arcoverde, 2365 - Pinheiros - São Paulo/SP</span>
				<p>© Copyright {{now | date:'yyyy'}} Acordo Certo, todos os direitos reservados - CNPJ 08.702.298/0001-93</p>
			  </div>
			</div>
		  </div>
		</div>
	</div>
</footer>
