<header class="header">
    <div class="header__links">
        <a href="#" class="brand">
            <img class="brand__logo" src="../../img/logo-ac-white.svg" alt="Logotipo acordocerto">
<!--            <span class="brand__pagename">Central de ajuda</span>-->
        </a>

        <div class="button-menu nav-menu-no-desktop">
            <div class="menu-hamburguer">
				<span class="menu-1"></span>
				<span class="menu-2"></span>
				<span class="menu-3"></span>
			</div>
            <div class="actions">
                <a class="btn btn--secondary" href="#voltar-para-o-site">Voltar para o site</a>
                <a class="btn btn--primary" href="#abrir-chamado">Abrir chamado</a>
            </div>
        </div>
    </div>
</header>