<section class="partners md:w-10/12">
    <h2 class="partners__title">Dúvidas por parceiro</h2>
    <p class="partners__description md:w-4/12">Está enfrentando dificuldades com algum parceiro específico? Separamos os artigos por parceiro para facilitar a sua busca ;)</p>

    <div class="partners__container">
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
        <a class="partners__logo" href="#url-do-parceiro">
            <img src="../../img/logo-acordo-do-bem.svg" alt="Descrição da imagem">
        </a>
    </div>
</section>