<section class="recent">
    <h2 class="recent__title md:w-10/12">Adicionado recentemente</h2>

    <div class="recent__container">
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url">Como funciona a parceria com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Onde posso baixar o aplicativo?</a>
            <a class="box__article-title" href="#item-url">Como pagar meu acordo com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Meu crédito com a Jeitto não foi aprovado, e agora?</a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria">Ver tudo sobre Jeitto</a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url">Como funciona a parceria com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Onde posso baixar o aplicativo?</a>
            <a class="box__article-title" href="#item-url">Como pagar meu acordo com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Meu crédito com a Jeitto não foi aprovado, e agora?</a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria">Ver tudo sobre Jeitto</a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url">Como funciona a parceria com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Onde posso baixar o aplicativo?</a>
            <a class="box__article-title" href="#item-url">Como pagar meu acordo com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Meu crédito com a Jeitto não foi aprovado, e agora?</a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria">Ver tudo sobre Jeitto</a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url">Como funciona a parceria com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Onde posso baixar o aplicativo?</a>
            <a class="box__article-title" href="#item-url">Como pagar meu acordo com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Meu crédito com a Jeitto não foi aprovado, e agora?</a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria">Ver tudo sobre Jeitto</a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url">Como funciona a parceria com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Onde posso baixar o aplicativo?</a>
            <a class="box__article-title" href="#item-url">Como pagar meu acordo com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Meu crédito com a Jeitto não foi aprovado, e agora?</a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria">Ver tudo sobre Jeitto</a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url">Como funciona a parceria com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Onde posso baixar o aplicativo?</a>
            <a class="box__article-title" href="#item-url">Como pagar meu acordo com a Jeitto?</a>
            <a class="box__article-title" href="#item-url">Meu crédito com a Jeitto não foi aprovado, e agora?</a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria">Ver tudo sobre Jeitto</a>
        </div>
    
    </div>
</section>