<section class="recent">
    <h2 class="recent__title md:w-10/12">Adicionado recentemente</h2>

    <div class="recent__container">
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url"><span>Como funciona a parceria com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Onde posso baixar o aplicativo?</span></a>
            <a class="box__article-title" href="#item-url"><span>Como pagar meu acordo com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Meu crédito com a Jeitto não foi aprovado, e agora?</span></a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria"><span>Ver tudo sobre Jeitto</span></a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url"><span>Como funciona a parceria com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Onde posso baixar o aplicativo?</span></a>
            <a class="box__article-title" href="#item-url"><span>Como pagar meu acordo com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Meu crédito com a Jeitto não foi aprovado, e agora?</span></a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria"><span>Ver tudo sobre Jeitto</span></a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url"><span>Como funciona a parceria com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Onde posso baixar o aplicativo?</span></a>
            <a class="box__article-title" href="#item-url"><span>Como pagar meu acordo com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Meu crédito com a Jeitto não foi aprovado, e agora?</span></a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria"><span>Ver tudo sobre Jeitto</span></a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url"><span>Como funciona a parceria com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Onde posso baixar o aplicativo?</span></a>
            <a class="box__article-title" href="#item-url"><span>Como pagar meu acordo com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Meu crédito com a Jeitto não foi aprovado, e agora?</span></a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria"><span>Ver tudo sobre Jeitto</span></a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url"><span>Como funciona a parceria com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Onde posso baixar o aplicativo?</span></a>
            <a class="box__article-title" href="#item-url"><span>Como pagar meu acordo com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Meu crédito com a Jeitto não foi aprovado, e agora?</span></a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria"><span>Ver tudo sobre Jeitto</span></a>
        </div>
    
        <div class="box__container">
            <h3 class="box__category-title">Sobre o Jeitto</h3>
            <a class="box__article-title" href="#item-url"><span>Como funciona a parceria com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Onde posso baixar o aplicativo?</span></a>
            <a class="box__article-title" href="#item-url"><span>Como pagar meu acordo com a Jeitto?</span></a>
            <a class="box__article-title" href="#item-url"><span>Meu crédito com a Jeitto não foi aprovado, e agora?</span></a>
            <a class="box__category-link" href="#ver-tudo-sobre-a-categoria"><span>Ver tudo sobre Jeitto</span></a>
        </div>
    
    </div>
</section>