<section class="ticket md:w-10/12">
    <img class="ticket__image md:w-6/12" src="../../img/ticket-banner-image.png" alt="Descrição da imagem">
    
    <div class="ticket__content md:w-6/12">
        <h2 class="ticket__title">Poxa, ainda não encontrou o que estava procurando?</h2>
        <p class="ticket__description">Fica sussa, <strong>estamos prontos pra te ajudar!</strong> Abra um chamado com o nosso super time de atendimento que vamos te responder o mais rápido possível! :)</p>
        <a class="btn btn--primary" href="#novo-chamado">Abrir chamado</a>    
    </div>
</section>