<section class="top-search md:w-10/12">
    <h2 class="top-search__title">Assuntos mais buscados</h2>

    <div class="topics">
        <a href="#" class="link">
            <span class="link__icon">
                <img src="../../img/icon-boleto.svg" alt="Ícone de boleto">
            </span>
            <h3 class="link__title">Pagamentos</h3>
        </a>
        <a href="#" class="link">
            <span class="link__icon">
                <img src="../../img/icon-loan.svg" alt="Ícone de empréstimos">
            </span>
            <h3 class="link__title">Empréstimos</h3>
        </a>
        <a href="#" class="link">
            <span class="link__icon">
                <img src="../../img/icon-block.svg" alt="Ícone de cancelamento">
            </span>
            <h3 class="link__title">Cancelamento</h3>
        </a>
        <a href="#" class="link">
            <span class="link__icon">
                <img src="../../img/icon-profile.svg" alt="Ícone de cadastro">
            </span>
            <h3 class="link__title">Cadastro</h3>
        </a>
        <a href="#" class="link">
            <span class="link__icon">
                <img src="../../img/icon-boleto.svg" alt="Ícone do link">
            </span>
            <h3 class="link__title">Negociação por Whatsapp</h3>
        </a>
        <a href="#" class="link">
            <span class="link__icon">
                <img src="../../img/icon-shield.svg" alt="Ícone de segurança">
            </span>
            <h3 class="link__title">É seguro negociar aqui?</h3>
        </a>
    </div>
</section>